.footer {
    background-color: var(--highlight-bg-color);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 1rem;
    width: 100%;
    height: auto;
    gap: 1rem;
    flex-grow: 1;
}

.footer-list {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 0.5rem;
    max-width: 500px;
}
.footer-list-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 0.5rem 2rem;
}
.footer-list-item {
    text-align: left;
    text-transform: capitalize;
}
.footer-list-header {
    font-weight: 600;
}
.flex-grow-1 {
    flex-grow: 2;
}
.flex-grow-2 {
    flex-grow: 2;
}
