.navbar-buffer {
    height: 5rem;
}
.user-navbar {
    padding: 1rem;
    position: fixed;
    height: 5rem;
    z-index: 10;
    width: 100%;
    display: flex;
    gap: 1rem;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--theme-color);
    box-shadow: 0 0 8px 1px var(--box-shadow-color);
    overflow: hidden;
}
.nav-item-left-container,
.nav-menu-container {
    background-color: var(--theme-color);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    position: relative;
    top: 0%;
    left: 0%;
}

.nav-item-right-container {
    background-color: var(--theme-color);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    padding: 1rem 0;
}

.nav-item {
    padding: 0.5rem;
    transition: border 0.2s;
    position: relative;
    /* background-color: var(--theme-color); */
}

.navbar-header::after {
    content: "";
    position: absolute;
    bottom: 10%;
    left: 50%;
    width: 0px;
    height: 3px;
    background-color: var(--highlight-color);
    transform: translate(-50%);
    transform-origin: center;
    transition: width 0.3s ease;
}

.navbar-header:hover::after {
    width: 40px;
}

.navbar-category:hover .navbar-header::after {
    width: 40px;
}

.navbar-category {
    overflow: visible;
    position: relative;
}

.navbar-header {
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: 0.5s;
    font-weight: 500;
}
.navbar-category:hover .navbar-header {
    color: var(--highlight-color);
}
.navbar-header:hover {
    color: var(--highlight-color);
}
.navbar-category-dropdown {
    color: var(--theme-text-color);
    display: none;
    width: 100%;
    position: fixed;
    z-index: 20;
    top: 3.5rem;
    left: 0%;
    background-color: var(--theme-color);
    box-shadow: var(--box-shadow-small);
}
.navbar-category-dropdown-item {
    padding: 1rem 1.5rem;
    width: 100%;
    text-align: left;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 1rem;
    align-items: center;
    transition: 0.2s;
}
.navbar-category-dropdown-item:hover {
    background-color: var(--highlight-color);
    color: white;
}

.navbar-category-image {
    width: 40px;
    height: 40px;
    object-fit: contain;
    background-color: var(--highlight-bg-color);
    border-radius: 50%;
    overflow: visible;
}
.react-icon {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--theme-text-color);
}
.react-icon-small {
    color: var(--theme-text-color);
    font-size: 0.7rem;
    font-weight: 600;
}
.nav-list-count-container {
    position: relative;
}
.nav-list-count {
    font-weight: bold;
    font-size: 0.8rem;
    width: 0.6rem;
    height: 0.6rem;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--highlight-color);
    background-color: var(--theme-color);
    border-radius: 50%;
    top: 0%;
    right: 0%;
}

.search-form {
    background-color: var(--highlight-bg-color);
    border-radius: 0.4rem;
    overflow: hidden;
    display: flex;
    flex-direction: row;
}
.search-input {
    min-width: 100px;
    max-width: 200px;
    border: none;
    outline: none;
    padding: 0.4rem 1rem;
    background-color: transparent;
}
.search-input:focus {
    outline: 2px solid var(--highlight-color);
}
.search-button {
    background-color: var(--highlight-bg-color);
    color: var(--highlight-color);
    padding: 0.4rem;
    height: 100%;
    font-weight: bold;
}
.search-button:hover {
    background-color: var(--highlight-color);
    color: var(--theme-color);
}
.search-icon {
    color: var(--highlight-color);
}
.search-icon:hover {
    color: white;
}
.nav-menu {
    display: none !important;
}
.nav-item-category-buffer {
    display: none;
}
.nav-item-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.2;
}
.nav-item-title {
    font-size: 11px;
}

.nav-item-home-right {
    display: none;
}
@media screen and (min-width: 749px) {
    .navbar-category:hover .navbar-category-dropdown {
        max-width: 400px;
        display: flex;
        flex-direction: column;
    }
}
@media screen and (max-width: 930px) {
    .nav-item-right-container {
        height: 5rem;
        box-shadow: var(--box-shadow);
        width: 100%;
        position: fixed;
        bottom: 0%;
        left: 0%;
        justify-content: space-around;
        gap: 0rem;
        z-index: 10;
    }
    .nav-item-right {
        flex: 1;
        width: 100%;
        margin: 0;
        height: 5rem;
        align-items: center;
    }
    .nav-item-home-right {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0.2;
    }

    .nav-item-right-container > a {
        border-top: 3px solid transparent;
    }
    .nav-item-right-container > .active {
        border-top: 3px solid var(--highlight-color);
    }
}
@media screen and (max-width: 748px) {
    .nav-menu {
        display: flex !important;
    }
    .nav-item-home-left {
        display: none;
    }
    .nav-item-left-container {
        display: none;
    }
    .nav-item-left {
        background-color: var(--theme-color);
    }
    .nav-menu-container {
        background-color: white;
        color: var(--theme-text-color);
        height: 100%;
        text-align: left;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        position: fixed;
        z-index: 5;
        top: 5rem;
        left: 0%;
        overflow-y: scroll;
        padding: 0;
        border-top: 1px solid var(--box-shadow-color);
    }
    .navbar-category {
        height: 100%;
        overflow-y: scroll;
        width: 100%;
        color: var(--theme-text-color);
    }
    .navbar-header {
        display: none;
    }
    .navbar-category-dropdown {
        color: var(--theme-text-color);
        display: flex;
        flex-direction: column;
        position: relative;
        top: 0;
        width: 100%;
        box-shadow: none;
    }
    .navbar-category-dropdown-item {
        width: 100%;
        border-bottom: 1px solid var(--box-shadow-color);
    }
    .navbar-header:hover::after {
        width: 0px;
    }
    .navbar-category:hover .navbar-header::after {
        width: 0px;
    }
    .nav-item-category-buffer-show {
        display: block;
        width: 100%;
        height: 10rem;
    }
}

@media screen and (max-width: 425px) {
    .user-navbar > .flex-buffer {
        display: none;
    }
    .search-input {
        width: 100%;
    }
}
@media screen and (max-width: 325px) {
    .user-navbar {
        gap: 0.2rem;
    }
    .search-input {
        /* display: none; */
    }
}
