.slider-container {
    position: relative;
    overflow: hidden;
    font-size: 24px;
}
.slider {
    width: 500vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    transition: transform 1s;
    max-height: 80vh;
}
.slider-item {
    height: 100%;
    width: 100vw;
    background: linear-gradient(
        90deg,
        rgba(197, 224, 255, 1) 0%,
        rgba(138, 192, 255, 1) 100%
    );
}
.slider-item-inner {
    padding: 1rem;
    display: flex;
    justify-content: center;
    position: relative;
    height: 100%;
    width: 100%;
}
.slider-img {
    width: 30%;
    padding: 2rem;
    object-fit: contain;
}
.slider-info {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: center;
    align-items: start;
    padding: 1rem 2rem;
}
.slider-info > * {
    white-space: nowrap;
    text-overflow: hidden;
    overflow: hidden;
}
.slider-addi-info {
    display: flex;
    gap: 1rem;
}
.slider-addi-info > div {
    display: flex;
    align-items: center;
}
.slider-next,
.slider-prev {
    padding: 0.5rem;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    height: 4rem;
    width: 2rem;
    top: 50%;
    transform: translateY(-50%);
    color: white;
}
.slider-next {
    right: 0%;
}
.slider-prev {
    left: 0%;
}

.slider-1 {
    font-weight: 600;
}
.slider-2 {
    font-weight: 500;
}
.slider-3 {
    font-weight: 600;
}
.tc {
    font-size: 0.6rem;
}
@media screen and (max-width: 425px) {
    .slider-info {
        padding: 1rem;
    }
    .slider-info > h1 {
        font-size: 1.2rem;
    }
}
