* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Anuphan", sans-serif;
    font-family: "Rubik", sans-serif;
    text-align: center;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    border: none;
    background-color: inherit;
    cursor: pointer;
}

li {
    list-style: none;
}

.flex-buffer {
    flex-grow: 1;
}
