* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Anuphan", sans-serif;
    font-family: "Rubik", sans-serif;
    text-align: center;
}
:root {
    --theme-color: #ffffff;
    --theme-hover-color: #dddddd;
    --theme-text-color: #000000;
    --important-color: #df2e38;
    --important-bg-color: rgba(255, 231, 233, 0.9);
    --highlight-color: #3b82f6;
    --highlight-color-dark: rgb(16, 104, 247);
    --highlight-bg-color: #ebf2fe;
    --highlight-bg-alpha-color: #3b82f61a;
    --box-shadow-color: #cccccc;
    --box-shadow: 0 0 8px 1px var(--box-shadow-color);
    --success-color: green;
    --success-bg-color: rgba(219, 255, 219, 0.9);
}
a {
    text-decoration: none;
    color: inherit;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}
button {
    border: none;
    background-color: inherit;
    cursor: pointer;
}

li {
    list-style: none;
}

.flex-buffer {
    flex-grow: 1;
}
.empty-icon-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.empty-icon {
    color: var(--highlight-bg-color);
    font-size: 10rem;
}
.button-1,
.button-1-full {
    padding: 0.5rem 1rem;
    border-radius: 0.2rem;
    color: var(--highlight-color);
    border: 2px solid var(--highlight-color);
}
.button-1-full {
    width: 100%;
}
.button-1:hover,
.button-1-full:hover {
    color: var(--theme-color);
    background-color: var(--highlight-color);
}
.button-icon-1 {
    cursor: pointer;
    width: 2rem;
    height: 2rem;
    padding: 0.5rem;
    border-radius: 0.2rem;
    color: var(--highlight-color);
}

.button-icon-1:hover {
    color: var(--theme-color);
    background-color: var(--highlight-color);
}
.button-danger-1 {
    padding: 0.5rem 1rem;
    border-radius: 0.2rem;
    color: var(--important-color);
    border: 2px solid var(--important-color);
}

.button-danger-1:hover {
    color: var(--theme-color);
    background-color: var(--important-color);
}
.button-danger-1-full {
    width: 100%;
    border-radius: 0.2rem;
    padding: 0.5rem 1rem;
    color: var(--important-color);
    border: 2px solid var(--important-color);
}

.button-danger-1-full:hover {
    color: var(--theme-color);
    background-color: var(--important-color);
}
.button-container-flex {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}
.button-1-inverse-full {
    width: 100%;
    padding: 0.5rem 1rem;
    color: var(--theme-color);
    background-color: var(--highlight-color);
    border: 2px solid var(--highlight-color);
}
.button-1-inverse-full:hover {
    border-color: var(--highlight-color-dark);
    background-color: var(--highlight-color-dark);
}
.react-icon {
    font-size: 1.5rem;
}

.result-popup-success {
    color: var(--success-color);
    border: 1px solid var(--success-color);
    background-color: var(--success-bg-color);
    padding: 1rem;
    position: fixed;
    z-index: 100;
    width: 80%;
    top: 5rem;
    left: 50%;
    transform: translate(-50%);
}

.result-popup-failure {
    color: var(--important-color);
    border: 1px solid var(--important-color);
    background-color: var(--important-bg-color);
    padding: 1rem;
    position: fixed;
    z-index: 100;
    width: 80%;
    top: 5rem;
    left: 50%;
    transform: translate(-50%);
}

.confirm-popup {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    background-color: var(--theme-color);
    /* width: 50vw;
    height: 50vh; */
    padding: 2rem;
    position: fixed;
    z-index: 99;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: var(--box-shadow);
}
